<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="db_qx_frame" connectionString="data source=.;initial catalog=db_qx_frame;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DBEntity_DG" connectionString="data source=.;initial catalog=db_Test;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--some QX_Frame configs-->
  <appSettings>
    <!--Log Save Location-->
    <add key="Log_Location_General_DG" value="Log_QX_Frame/Log_QX_Frame_General/" />
    <add key="Log_Location_Error_DG" value="Log_QX_Frame/Log_QX_Frame_Error/" />
    <add key="Log_Location_Use_DG" value="Log_QX_Frame/Log_QX_Frame_Use/" />
    <!--end Log Save location-->
    <!-- Cache config-->
    <add key="IsCache" value="1" />
    <!-- 1 true 0 false-->
    <add key="CacheExpirationTime_Minutes" value="10" />
    <!--end Cache config-->
    <!--Auth validation config-->
    <add key="Auth_Token_expireTime_days" value="0" />
    <add key="Auth_Token_expireTime_hours" value="0" />
    <add key="Auth_Token_expireTime_minutes" value="30" />
    <!--end Auth validation config-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>